# === Common settings ===
# TZ=Asia/Tokyo

# === Misskey settings ===
# MK_LOG_JSON=true

# === Database settings ===
POSTGRES_USER=example-misskey-user

POSTGRES_PASSWORD=example-misskey-pass

POSTGRES_DB=misskey

DATABASE_USER=${POSTGRES_USER}
DATABASE_PASSWORD=${POSTGRES_PASSWORD}
DATABASE_DB=${POSTGRES_DB}
DATABASE_URL="postgres://${POSTGRES_USER}:${POSTGRES_PASSWORD}@db:5432/${POSTGRES_DB}"
